body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

.Newsletter-section{
    background-color: rgb(255, 149, 0);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Newsletter-section ul {
    list-style: none; 
    padding: 0;
}

.Newsletter-section ul li{
    color:white;
}

.Sectiune {
    background-color: black; 
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Sectiune li{
    color:white;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.header-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.header-top-right ul {
    list-style: none;
    padding: 0;
}

.header-top-right li {
    display: inline;
    margin: 0 10px;
}

.header-top-right a {
    text-decoration: none;
    color: #fff;
}
        nav ul {
            list-style: none;
        }
 
        
        nav ul li {
            display: inline;
            margin: 0 10px;
           
        }
    
        nav a {
            text-decoration: none;
            color: #fff;
        }
        
        
        .sneaker-container {
            display: flex;
            justify-content: space-between;
            margin: 20px;
        }

        .sneaker {
            text-align: center;
        }

        .sneaker img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            bottom: 0;
            width: 100%;
        }

